
/* Header **/
header{
  background-color:yellow;
  border-style:solid;
  border-bottom-width: 3px;
  border-bottom-color: orangered;

}

header a{

  color:rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
}


footer{
  background-color: orangered;
  color:white;
  text-align: center;
  padding-top:25px;
  padding-bottom:25px;

}
