body{
    margin: 0px;
    padding:0px;
}

/* Global */
.container{
    padding-left:10%;
    padding-right:10%;
    display:flex;
    justify-content: space-between;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;

}

.button_1{
  background-color: orangered;
  width: 80px;
  height: 35px;
  border: none;
  color:white;
  font-size:14px;
  font-weight: bold;
}

.dark{
  background-color:rgb(80, 77, 77) ;
  color:white;
  padding: 15px;
}

/* Header **/
header{
    background-color:rgb(80, 77, 77);
    border-style:solid;
    border-bottom-width: 3px;
    border-bottom-color: orangered;
    min-height:100px;

}

header a{

    color:rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
}

header li{
    float: left;
    display: flex;
    padding: 10px;
}

header #branding{
    float:left;
}

header #branding h1{
    color:white;
    padding-top:20px;
}

header nav{
    float: right;
  margin-top: 30px;
  align-items: center;
}

header .highlight, header .current a{
    color:orangered;

}

header a:hover{
  font-weight: bold;

}

/* Showcase */
#showcase{
    width: 100%;
    height:400px;
    background-image: url("../img/showcase.jpg") ;
    background-position: center;
    text-align: center;
}

#showcase .container{
    flex-direction: column;
}
#showcase h1{
    color: white;
    font-size:70px;
    margin-top:100px;
    margin-bottom: 0;
}

#showcase p{
    color: white;
    font-size:20px;
}

/* Newsletter */
#newsletter{
    background-color:rgb(80, 77, 77) ;
    min-height: 70px;
  }

  #newsletter h1{
    color:white;
    float:left;
  }

  #newsletter form {

      float: right;
      padding: 15px;
      align-items: center;


  }

  #newsletter input[type="email"]{
    height: 30px;
    width:250px;
  }

/* Boxes */
#boxes{
    padding-top:20px;
}

#boxes .box{
    align-items: center;
    text-align: center;
    margin-left:10px;
    margin-right:10px;
}

#boxes .box img{

    width: 100px;
    height: 100px;
}

/* Sidebar */
aside#sidebar{  
    margin-left:5%;
    margin-top: 20px;
    min-width: 30%;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  height: 25px;
}

/* Main-col */
article#main-col{
  margin-top:20px;
}

footer{
    background-color: orangered;
    color:white;
    text-align: center;
    padding-top:25px;
    padding-bottom:25px;
    margin-top:20px;
}
